webroot/web/sites/default/files/js/
webroot/web/sites/default/files/php
webroot/vendor/*
webroot/web/sites/default/files/styles
webroot/web/sites/default/files/css/css_*
webroot/web/sites/default/settings.php
