body {
	font-family: 'Open Sans', sans-serif;
}
body.path-frontpage {
	overflow-x: hidden;
}
.content-highlight,
.content-bottom {
	background: /*#ededdc*/#d0d0ce;
}
body.attachment-banner .layout-main-wrapper,
body.photos-detail .content-top {
	.container {
		max-width: 100%;
		margin: 0 auto;
		padding: 0;
	}
}
body:not(.path-frontpage) .banner {
	.container-fluid {
		padding: 0;
		margin-top: 39px;
	}
}
.dialog-off-canvas-main-canvas {
	//padding-top: 183px;
	padding-top: 141px;
}
/*=====Header=====*/
.navbar {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px 0px;
	margin-top: -1px;
	margin-bottom: 0;
	background: #2ebce1;
	&::before {
		background-color: #042b49;
		display: block;
	}
	.navbar-header {
		padding: 5px 0;
		img {
			margin-bottom: 0;
		}
	}
}
.container {
	padding: 0 15px;
	max-width: 1230px;
	width: 100%;
}
.navbar-collapse.collapse  {
	//padding-bottom: 100px;
	position: relative;
	margin-left: auto;
	max-width: 900px;
	display: block;
	#block-searchheader {
		position: absolute;
		width: 100%;
		bottom: 20px;
	}
	#block-arc-main-menu {
		ul {
			float: right;
			li {
				position: static;
				a {
					color: #fff;
					font-size: 16px;
					min-height: 70px;
					font-weight: 600;
					.caret {
						transition: all 0.3s ease-in-out;
						border-top-color: #042b49;
						border-bottom-color: #042b49;
					}
				}
				&.dropdown.open {
					margin-bottom: 105px;
					>a {
						background: #fff;
						color: #042b49;
						.caret {
							transform: rotate(180deg);
						}
					}
				}
				/*&:hover {
					margin-bottom: 105px;
				}
				&:hover .dropdown-menu {
					display: block;
				}*/
				.dropdown-menu {
					width: 100%;
					box-shadow: none;
					top: auto;
					min-height: 105px;
					padding: 0;
					background: #fff;
					position: fixed;
					padding-left: calc((100% - 1200px)/2);
					li {
						display: inline-block;
						margin-right: 45px;
						a {
							padding: 35px 0;
							font-size: 18px;
							font-weight: 600;
							color: #042b49;
						}
					}
				}
				&.active>a {
					color: #042b49;
					background: #fff;
				}
				.dropdown-menu {
					.active a {
						background: transparent;
						border-bottom: 6px solid #042b49;
					}
					a:hover,
					a:focus {
						color: #042b49;
						border-bottom: 6px solid #042b49;
						background: transparent;
					}
				}
			}
		}
	}
	
}
.search-header {
	max-width: 1230px;
	margin: 0 auto;
	padding: 20px 15px;
	.block-search-header {
		display: flex;
		justify-content: space-between;
		.search-show,
		.search-text {
			height: 60px;
			color: #706e6e;
			>* {
				height: 60px;
			}
		}
		.search-show {
			max-width: 40%;
			flex: 0 0 40%;
			position: relative;
			display: flex;
			input {
				border: 1px solid rgb(219, 219, 219);
				box-shadow: none;
				padding-left: 20px;
				font-size: 14px;
				width: 100%;
			}
			button {
				background: url('../images/search-solid.svg') no-repeat center;
				background-size: 24px;
				background-color: rgb(163, 109, 47);
				border: 1px solid rgb(163, 109, 47);
				box-shadow: none;
				font-size: 0;
				position: absolute;
				width: 60px;
				top: 0;
				right: 0;
				
			}
		}
		.search-text {
			max-width: calc(30% - 15px);
			flex: 0 0 calc(30% - 15px);
			background: /*rgb(237, 237, 220)*/ #fff;
			.text {
				padding: 23px 15px;
				font-size: 14px;
				line-height: 1;
				position: relative;
				display: block;
				&::after {
					content: url('../images/external-link-alt-solid.svg');
					width: 14px;
					height: 12px;
					display: inline-block;
					position: absolute;
					right: 15px;
					top: 50%;
					transform: translate(0, -50%);
				} 
			}
		}
	}
}
/*=====Footer=====*/
.footer {
	background: #2ebce1;
	margin-top: 0;
	padding-bottom: 50px;
	border: none;
	.region-footer {
		display: flex;
		flex-wrap: wrap;
		#block-footercontenttop {
			max-width: 100%;
			flex: 0 0 100%;
			font-size: 16px;
			line-height: 20px;
			font-weight: bold;
			margin-bottom: 100px;
			p {
				margin-bottom: 0;
			}
		}
		#block-footer {
			max-width: 33.333%;
			flex: 0 0 33.333%;
			li {
				margin-bottom: 10px;
				font-size: 16px;
				line-height: 19px;
				a {
					color: #fff;
					padding: 0;
					&:hover,
					&:focus {
						background-color: transparent;
						text-decoration: underline;
					}
				}
			}
		}
		#block-followus {
			max-width: 33.333%;
			flex: 0 0 33.333%;
			h2 {
				margin-top: 0;
				font-size: 18px;
				line-height: 22px;
				color: #fff;
				font-weight: normal;
				margin-bottom: 25px;
			}
			ul.follow-us {
				margin: 0;
				padding: 0;
				li {
					list-style: none;
					display: inline-block;
					margin-right: 12px;
					a {
						width: 24px;
						height: 24px;
						display: block;
						span {
							font-size: 0;
						}
					}
					&:first-child {
						a {
							background: url('../images/facebook-square-brands.svg') no-repeat;
						}
					}
					&:nth-child(3) {
						a {
							background: url('../images/twitter-square-brands.svg') no-repeat;
						}
					}
					&:nth-child(2) {
						a {
							background: url('../images/youtube-square-brands.svg') no-repeat;
						}
					}
					&:last-child {
						a {
							background: url('../images/instagram-brands.svg') no-repeat;
						}
					}
				}
			}
		}
		#block-simplenewssubscription {
			max-width: 33.333%;
			flex: 0 0 33.333%;
			.block-title {
				color: #fff;
				margin-top: 0;
				font-size: 18px;
				line-height: 23px;
				margin-bottom: 15px;
				font-weight: normal;
			}
			#edit-message {
				font-size: 16px;
				line-height: 20px;
				color: #fff;
				margin-bottom: 20px;
				max-width: 360px;
			}
			.field--type-email {
				label {
					display: none;
				}
				input {
					max-width: 360px;
					width: 100%;
					border: 1px solid rgb(219, 219, 219);
					box-shadow: none;
					background: #fff;
					margin-bottom: 10px;
					padding-left: 10px;
					&::placeholder {
						color: #ababab;
						font-size: 16px;
						line-height: 19px;
					}
				}
			}
			.form-actions {
				button {
					max-width: 360px;
					width: 100%;
					box-shadow: none;
					border: none;
					border-radius: 0;
					background: #a36d2f;
					color: #fff;
					text-transform: uppercase;
					font-size: 16px;
					line-height: 19px;
					padding: 13px 0;
				}
			}
		}
	}
}
.region-footer-bottom {
	background: #2b2b27;
	#block-producedbycityofparramatta {
		max-width: 1230px;
		margin: 0 auto;
		padding: 20px 15px;
		font-size: 18px;
		color: #fff;
		line-height: 23px;
	}
}
/*=====Breadcrumb=====*/
/*body.toolbar-fixed.toolbar-horizontal.toolbar-tray-open .top-bar {
	top: 302px;
}*/
.top-bar {
	background: /*#ededdc*/#d0d0ce;
	position: fixed;
	width: 100%;
	//top: 223px;
	margin-top: -2px;
	z-index: 99;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px 0px;
	.breadcrumb {
		max-width: 1230px;
		background: transparent;
		margin: 0 auto;
		padding: 8px 15px;
		color: #000;
		font-size: 14px;
		li + li::before {
			content: '>';
			color: #000;
		}
		.active {
			color: #000;
		}
	}
}
/*=====page Contact=====*/
body:not(.path-frontpage) .content-highlight {
	.region-content-highlight {
		display: flex;
		justify-content: space-between;
		#block-webform-4,
		#block-webform-3,
		#block-webform-2,
		#block-webform {
			max-width: 45%;
			flex: 0 0 45%;
		}
		#block-views-block-faq-block-1 {
			max-width: calc(55% - 55px);
			flex: 0 0 calc(55% - 55px);
		}
		#block-webform-4,
		#block-webform-3,
		#block-webform-2,
		#block-webform,
		#block-views-block-faq-block-1 {
			padding-top: 60px;
			.block-title {
				margin-top: 0;
				margin-bottom: 25px;
				color: #000;
				font-size: 24px;
				line-height: 29px;
				font-weight: normal;
			}
		}
	}
}
.webform-submission-contact-enquiries-form,
.webform-submission-form {
	#edit-processed-text,
	#edit-donation-form-discription,
	#edit-volunteer-form-discription {
		line-height: 19px;
		color: #000;
		& * {
			margin-bottom: 20px;
			font-size: 16px;
			&:nth-child(2) {
				margin-bottom: 20px;
				font-size: 14px;
				line-height: 17px;
			}
			&:nth-child(2),
			&:nth-child(4) {
				display: inline-block;
			}
		}
		& .icon {
			display: inline-block;
			color: #ee0000;
		}
	}
	.webform-email-confirm--wrapper,
	.webform-select-other--wrapper {
		box-shadow: none;
		background-color: transparent;
		.panel-heading {
			display: none;
		}
		.panel-body {
			padding: 0;
		}
	}
	input.form-control,
	textarea.form-control {
		padding-left: 15px;
	}
	input.form-control,
	textarea.form-control,
	select.form-control {
		background: #fff;
		border: 1px solid #a36d2f;
		box-shadow: none;
		border-radius: 3px;
		width: 100%;
		&:focus {
			box-shadow: none;
		}
	}
	label.control-label {
		font-size: 16px;
		line-height: 19px;
		color: #ab7627;
		margin-bottom: 8px;
		&::after {
			background-size: contain;
			background-repeat: no-repeat;
			margin-left: 5px;
			width: 5px;
			height: 5px;
		} 
	}
	.webform-select-other {
		label.sr-only {
			position: relative;
			display: inline-block;
			margin: 0 0 8px 0;
			height: 19px;
			width: auto;
		}
		.webform-select-other-input {
			display: flex ;
			align-items: center;
			label.control-label {
				margin-right: 15px;
				margin-bottom: 0;
			}
			input.form-control {
				display: inline-block;
				max-width: calc(100% - 63px);
			}
		}
	}
	select.form-control {
		padding-left: 20px;
		font-size: 16px;
		line-height: 19px;
		color: #000;
	}
	input.form-checkbox {
		margin-bottom: 0;
		appearance: checkbox;
		&::after,
		&:checked::before {
			display: none;
		}
	}
	input.form-file {
		padding-left: 20px;
	}
	.webform-button--submit {
		width: 100%;
		background: #a36d2f;
		font-size: 16px;
		line-height: 19px;
		color: #fff;
		text-transform: uppercase;
		padding: 17.5px 10px;
		margin-bottom: 55px;
		font-weight: bold;
	}
	.form-item-personal-and-professional-reference,
	.form-item-personal-and-professional-reference-2,
	.form-item-area-of-interest {
		input.form-text {
			min-height: 63px;
		}
	}
}
#edit-your-details {
	box-shadow: none;
	background-color: transparent;
	.panel-heading {
		background-color: transparent;
		border: none;
		padding: 0;
		margin-top: 32px;
		margin-bottom: 25px;
		.panel-title {
			margin: 0;
			font-weight: 600;
			padding: 0;
			font-size: 24px;
			color: #000;
		}
	}
	.panel-body {
		padding: 0;
	}
}
#block-webform-3 {
	.form-item {
		display: flex;
		justify-content: space-between;
		label {
			color: #000;
			line-height: 19px;
			margin-top: 9px;
			margin-bottom: 0;
		}
		.form-control {
			display: inline-block;
			width: 350px;
			padding: 0 15px;
			border-color: #fff;
			&:focus {
				border-color: #a36d2f;
			}
		}
		.form-textarea-wrapper {
			display: inline-block;
		}
	}
	.form-actions {
		display: flex;
		justify-content: flex-end;
		.webform-button--submit {
			display: inline-block;
			width: 157px;
			margin-right: 193px;
			padding: 6px 10px;
			min-height: 44px;
			text-transform: none;
		}
	}
}
/*=====page Policis=====*/
.policies-arc {
	padding: 60px 0;
	font-size: 18px;
	color: #000;
	line-height: 23px;
	max-width: 720px;
	margin: 0 auto;
	h3 {
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
		margin-top: 40px;
		margin-bottom: 30px;
	}
	a {
		color: #dd9933;
	}
}
/*============*/
/*body.page-node-type-article {
	.content-highlight {
		.region-content-highlight {
			display: block;
		}
	}
	.container {
		max-width: 100%;
		padding: 0;
	}
	.content-bottom {
		max-width: 870px;
		padding: 0 15px;
		margin: 0 auto 25px;
	}
	.footer,
	.navbar {
		.container {
			max-width: 1230px;
			padding: 0 15px;
			margin: 0 auto;
		}
	}
}*/
/*=====Breadcrum research=====*/
ul.menu--research-menu {
	padding-top: 60px;
	border-bottom: 1px solid #9e9e9e;
	li {
		display: inline-block;
		font-size: 24px;
		line-height: 29px;
		a {
			color: #666;
		}
		&.first {
			padding-left: 0;
		}
		&.active {
			border-bottom: 3px solid #a36d2f;
			a {
				color: #a36d2f;
			}
		}
		&:hover a,
		&:focus a {
			color: #a36d2f;
		}
	}
}
/*=====Facets Arc=====*/
.facets-widget-links {
	margin-top: 60px;
	ul.item-list__links {
		margin: 0;
		padding: 0;
		border-bottom: 1px solid #999;
		.facet-item {
			display: inline-block;
			margin-right: 20px;
			font-size: 18px;
			line-height: 22px;
			a {
				color: #666;
				padding-bottom: 15px;
				display: inline-block;
				&.is-active {
					color: #a36d2f;
					border-bottom: solid 3px #a36d2f;
				}
			}
			.facet-item__status {
				display: none;
			}
		}
	}
}

body.page-node-type-article .banner-arc .views-field-nothing,
body.path-contact .banner-arc .views-field-nothing {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
body.page-node-type-article {
	.content-bottom {
		background: transparent;
	}
}
