/*=====Have an Enquiry What we do=====*/
#block-haveanenquiry-2 {
    padding: 60px 0;
    text-align: center;
    .block-title {
        font-size: 24px;
        color: #000;
        line-height: 29px;
        margin-bottom: 35px;
    }
    .field--name-body {
        p:first-child {
            font-size: 16px;
            color: #000;
            max-width: 720px;
            line-height: 19px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        p:last-child a {
            padding: 22px 0;
            min-width: 242px;
            color: #fff;
            background: #a36d2f;
            font-size: 16px;
            line-height: 1;
            display: inline-block;
        }
    }
}
/*=====Find us contact=====*/
#block-contactfindus {
    padding-top: 55px;
    .block-title {
        margin-bottom: 35px;
        font-size: 24px;
    }
    .field--name-body {
        display: flex;
        justify-content: space-between;
        .info-contact {
            max-width: calc(50% - 50px);
            flex: 0 0 calc(50% - 50px);
            font-size: 16px;
            color: #000;
            .info-title,
            a {
                color: #dd9933;
            }
            a:hover {
                text-decoration: none;
            }
        }
        .map-contact {
            max-width: 50%;
            flex: 0 0 50%;
            position: relative;
            top: -60px;
            iframe {
                width: 100%;
            }
        }
    }
}
/*=====Making an offer=====*/
#block-makinganoffer {
    max-width: 539px;
}